:root{
    --colorPrimario: #1B4F72;
    --colorSecundario: #D68910;
    --colorTerciario: #ffffff;
    --colorSombras: #282d31;
    --colorTitulos: #282d31;
    --colorParrafos: #53575a;
    --colorFondo:   #fcfcfc;
    --colorBordes: #dfe0e0;
    --zIndexNomal: 1;
    --zIndexToolTip: 10;
    --zIndexFixed: 100;
    --zIndexModal: 1000;
    --zIndexPopUp: 10000;
}
/* SELECTOR UNIVERSAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/pexels1.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: var(--colorFondo); /* Un tono gris azulado muy suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del Formulario */
.formulario {
    background: var(--colorTerciario);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Título de Iniciar Sesión */
h2 {
    color: var(--colorPrimario);
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

/* Estilo de los Inputs */
input {
    width: 100%;
    padding: 14px;
    border: 1px solid #dcdfe6;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-sizing: border-box; /* Crucial para que el padding no deforme el ancho */
    outline: none;
}

input:focus {
    border-color: var(--colorSecundario);
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

/* Botón de Ingreso */
.submit {
    background-color: var(--colorSecundario);
    color: var(--colorTerciario);
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    margin-top: 10px;
}

.submit:hover {
    background-color: var(--colorPrimario);
}


/* Mensajes de validación o error */
.mensaje {
    font-size: 13px;
    color: #e74c3c;
    margin-top: 5px;
    min-height: 18px;
}

/* Placeholder personalizado (opcional) */
input::placeholder {
    color: #aab2bd;
}

/* Estilos para el botón de cerrar sesión en el dashboard */
.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none
}

.logout:hover {
    background-color: #c0392b;
    
}